<p><h1>Links</h1></p>
<table cellspacing=1 cellpadding=20>
    <tr>
        <td align=center width="50%">
            <a href="http://open.xdmod.org" target="_blank" rel="noopener noreferrer">
                <img src="/gui/images/about/xdmod_logo.png" height=100>
            </a>
        </td>
        <td align=center>
            <a href="https://www.xsede.org" target="_blank" rel="noopener noreferrer">
                <img src="/gui/images/about/xsede_logo.jpg" height="115">
            </a>
        </td>
    </tr>
    <tr>
        <td align=center>
            <a href="http://www.buffalo.edu/ccr.html" target="_blank" rel="noopener noreferrer">
                <img src="/gui/images/about/Ccr_ub_logo.jpg" width="500">
            </a>
        </td>
        <td align=center>
            <a href="http://www.nsf.gov" target="_blank" rel="noopener noreferrer">
                <img src="/gui/images/about/nsf_logo.png">
            </a>
        </td>
    </tr>
    <tr>
        <td align=center>
            <a href="https://www.tacc.utexas.edu/" target="_blank" rel="noopener noreferrer">
                <img src="/gui/images/about/TACC_logo.png" width=300">
            </a>
        </td>
        <td align=center>
            <a href="http://www.iub.edu/" target="_blank" rel="noopener noreferrer">
                <img src="/gui/images/about/indianauniversity_logo.jpg" height=200>
            </a>
        </td>
    </tr>
</table>

