security:
    password_hashers:
        CCR\Entity\User: 'auto'
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            id: CCR\Security\UsernameUserProvider
        all_users:
            chain:
                providers: [ 'app_user_provider' ]

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            lazy: true
            provider: all_users
            custom_authenticators:
                - CCR\Security\Authenticators\FormLoginAuthenticator
                - CCR\Security\Authenticators\SimpleSamlPhpAuthenticator
            switch_user: true
            logout:
                path: xdmod_logout
                invalidate_session: true
            access_denied_handler: CCR\Security\AccessDeniedHandler
            entry_point: CCR\Security\Authenticators\FormLoginAuthenticator


    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        - { path: ^/saml/login, roles: PUBLIC_ACCESS }
        - { path: ^/saml/metadata, roles: PUBLIC_ACCESS }
        # - { path: ^/, roles: PUBLIC_ACCESS}
        # - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_US1ER }
