[mysqld]
bind-address = *
default-storage-engine = InnoDB
group_concat_max_len = 16M
join_buffer_size = 16M
local-infile = 1
log-error = /var/log/mariadb/mariadb.log
max_allowed_packet = 1024M
query_cache_limit = 16M
query_cache_size = 256M
read_buffer_size = 4M
pid-file = /var/run/mariadb/mariadb.pid
port = 3306
sort_buffer_size = 8M
thread_cache_size = 8
sql_mode =
