.dashboard-help-win {
    font-size: 14px;
    margin: 1em;
}

.dashboard-help-win li {
    padding-left: 1em
}

.dashboard-help-win p {
    margin-top: 4px;
}

.dashboard-help-win img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
