body, table {
   font-family: helvetica;
   font-size: 12px;
   background-color: #fff;
}

.passStrength {
   width: 152px !important;
   height: 14px !important;
   font-size: 10px;
   padding-left: 3px !important;
   background-image: url('../images/pass_strength_bg_sprites.png');
   opacity: 1.0;
   font-weight: bold;
   color: #000;
   border: 1px solid #888;
}

.passStrength.veryweak    { background-position: 0 -2px; }
.passStrength.weak        { background-position: 0 -36px; }       
.passStrength.mediocre    { background-position: 0 -69px; } 
.passStrength.strong      { background-position: 0 -100px; }   

.splashContainer {

   border: 1px solid #c3d9ff;
   width: 400px;
   background-color: #fff;
   margin: 10px;
   padding: 4px;         

}

.splashContainer table {

   font-family: Arial;
   font-size: 12px;
   padding: 5px;  
   background-color: #e8eefa; 

}

.customTextField {
   border: 1px solid #aaa;
   width: 175px;
}

.fieldRestrictions {
   color: #aaa;
}

.fieldRestrictions.emphasize {
   color: #f00 !important;
}