<div class="alertbox info">
<h2><img src="../assets/images/about_16.png" alt="" /> Note</h2>
<p>
Open XDMoD {{site.latest_sw_version}} contains
an important security update. You should update existing Open XDMoD
instances to this version.
</p>
<p>
Update instructions for recent versions of Open XDMoD are provided below:
<ul>
<li><a href="/10.0/upgrade.html#1003-upgrade-notes">Open XDMoD 10.0</a></li>
<li><a href="/9.5">Open XDMoD 9.5</a></li>
<li><a href="/9.0">Open XDMoD 9.0</a></li>
<li><a href="/8.5">Open XDMoD 8.5</a></li>
</ul>
</p>
</div>
