{
    "table_definition": {
        "$ref": "etl_tables.d/acls/realms.json#/table_definition"
    },
    "destination_columns": ["name", "display", "table_name", "schema_name", "module_id"],
    "custom_insert_values_components": {
        "module_id": "(SELECT module_id FROM modules WHERE name = ?)"
    },
    "source_values": [
        ["jobs", "Jobs", "jobfact", "modw_aggregates", "__MODULE_NAME__"]
    ]
}
