.allocation_breakdown_header {
	background-color: #ececec;
}

.allocation_breakdown_header td {
	border-bottom: 1px solid #888;
	font-weight: bold;
}

.allocation_header_first_entry_gap {
	padding: 5px 0 2px 5px !important;
}

.allocation_resource_listing_entry_spacing {
	padding: 3px;
	padding-left: 5px !important;
}

.allocation_user_listing_entry_spacing {
	padding: 2px;
	padding-left: 5px !important;
}

.allocation_breakdown_view {
	background-color: #eef !important;
}

.allocation_summary_view {
	background-color: #f7f6f2 !important;
}

.allocation_user_container {

	width: 255px;
	height: 110px;
	border: 1px solid #888;
	overflow-y: auto;
	overflow-x: hidden;

}

.allocation_resource_container {

	width: 560px;
	height: 110px;
	border: 1px solid #888;
	overflow-y: auto;
	overflow-x: hidden;

}

.allocation_breakdown_first_column {
	padding-left: 5px !important;
}


.expired_allocation_v {
    background-image: url(../images/bullet_red.png) !important;
    background-repeat: no-repeat;
    background-position: 13px 4px;
}
.active_allocation_v {
    background-image: url(../images/bullet_green.png) !important;
    background-repeat: no-repeat;
    background-position: 13px 4px;
}

.active_allocation_v .x-form-cb-label,
.expired_allocation_v .x-form-cb-label {
	left: 12px;
}