.win_splash_login_prompt .password_reset_description {
   width: 290px !important;
   padding-top: 5px;
   color: #777;
}

.win_splash_login_prompt .no_account_description {
   width: 290px !important;
   color: #777;
}

/* To give bevelled look to buttons */

.win_splash_login_prompt .x-btn-tl{
	background-position: -6px 0;
}

.win_splash_login_prompt .x-btn-tr{
	background-position: -9px 0;
}

.win_splash_login_prompt .x-btn-tc{
	background-position: 0 -9px;
}

.win_splash_login_prompt .x-btn-ml{
	background-position: -6px -24px;
}

.win_splash_login_prompt .x-btn-mr{
	background-position: -9px -24px;
}

.win_splash_login_prompt .x-btn-mc{
	background-position: 0 -2168px;
}

.win_splash_login_prompt .x-btn-bl{
	background-position: -6px -3px;
}

.win_splash_login_prompt .x-btn-br{
	background-position: -9px -3px;
}

.win_splash_login_prompt .x-btn-bc{
	background-position: 0 -18px;
}

#federatedLoginLink img {
	border: 1.33px; 
	border-style: ridge; 
	border-radius: 4px; 
	padding: 5px; 
	margin: 2.5px; 
	box-shadow: 0.5px 1.5px 0.25px 0.25px;
}

#federatedLoginLink img:hover {
	background-color: #0574d4;
}

#txt_login_username, #txt_login_password input {
	padding: 2.5px;
	margin-left: 2.5px;
	width: 184px;
	height: 22px;
}