/* Styling for message prompt (defined in CCR.js as CCR.xdmod.ui.userManagementMessage) */

.user_management_message_prompt {
    background-image: url('../../gui/images/people_16.png');
}

.admin_panel_invalid_text_entry {
    padding-left: 19px !important;
    background-color: #fdc6c8 !important;
    background-image: url('../../gui/images/exclamation.png') !important;
    background-repeat:  no-repeat !important;
    background-position: 1px 2px !important;
}

.testing {
    width: 193px !important;
}

#grid-example .x-grid-col-1 {
    text-align: right;
}
#grid-example .x-grid-col-2 {
    text-align: right;
}
#grid-example .x-grid-col-3 {
    text-align: right;
}
#grid-example .x-grid-col-4 {
    text-align: right;
}
#grid-example.x-grid-mso {
    border: 1px solid #6593cf;
}
#grid-example.x-grid-vista {
    border: 1px solid #b3bcc0;
}
#xml-grid-example {
    border: 1px solid #cbc7b8;
    left: 0;
    position: relative;
    top: 0;
}
#editor-grid .x-grid-col-2 {
    text-align:right;
}
.x-grid3-td-topic b {
    font-family:tahoma, verdana;
    display:block;
}
.x-grid3-td-topic b i {
    font-weight:normal;
    font-style: normal;
    color:#000;
}
.x-grid3-td-topic .x-grid3-cell-inner {
    white-space:normal;
}
.x-grid3-td-topic a {
    color: #385F95;
    text-decoration:none;
}
.x-grid3-td-topic a:hover {
    text-decoration:underline;
}

.x-grid3-dirty-cell {
    background-image: none !important;
}

.details .x-btn-text {
    background-image: url(details.gif);
}


.admin_panel_user_actions_group {
    width: 150px !important;
}

.admin_panel_user_information_group {
    width: 210px !important;
}

.admin_panel_btn_action {
    width: 117px !important;
    margin-bottom: 5px !important;
}

.admin_panel_info_label,
.admin_panel_user_settings_label {
    font-size: 11px;
    padding-bottom: 3px;
}

.admin_panel_tbtext {
    font-size: 11px;
    font-weight: bold !important;
    padding-bottom: 9px;
}

.admin_panel_info_label_ht {
    padding-top: 11px;
}

.admin_panel_info_label_h {
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    padding-right: 9px;
    padding-left: 3px;
    padding-bottom: 9px;
}

.admin_panel_account_status_active {
    color: #080;
}

.admin_panel_account_status_inactive {
    color: #f00;
}

.admin_panel_user_settings_group {
    width: 160px !important;
    padding-top: 8px;
}

.admin_panel_role_settings_group {
    width: 207px !important;
    padding-top: 8px;
}

.admin_panel_btn_create_user {
    background: url('../../gui/images/user_add.png') no-repeat !important;
}

.admin_panel_user_details {
  /*  width: 240px; */
}

.admin_panel_btn_save_icon {
    background: url('../../gui/images/disk.png') no-repeat !important;
}

.admin_panel_user_list_selector .x-hide-label {
    overflow: hidden !important;
    height: 18px !important;
}

.admin_panel_user_user_status_active {
    color: #080;
}

.admin_panel_user_user_status_disabled {
    color: #f00;
}

.admin_panel_editor_mask {
    background-color: #00f !important;
}

.admin_panel_timestamp {
    font-weight: bold !important;
    color: #00f;
}

.xdmod_admin_panel .ext-el-mask {
    background-color: #555 !important;
}

/* Admin Panel -- Existing Users -- Settings FormPanel */
div.admin_panel_existing_user_settings label.x-form-item-label {
    font: 10px arial,helvetica,sans-serif;
}

div.admin_panel_existing_user_settings div.x-form-item {
    padding-bottom: 0px;
}


/* ------ Role Assignment Grid, Center Selection Grid Menu ------- */

.btn_center_selections_reset
{
    background-image: url('../images/icon_reset.png') !important;
}

.btn_center_selections_save
{
    background-image: url('../images/icon_save.png') !important;
}

.btn_ingestion_exception
{
    background-image: url('../images/icon_exception.png') !important;
}

