# XDMoD related env variables #
XDMOD_LOG_DIR=/var/log/xdmod

# Symfony related env variables #
DATABASE_URL=
GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET=
APP_SECRET=[:app_secret:]
APP_ENV=prod
