<html lang="en">
<head>
    <link rel="shortcut icon" href={{ asset('gui/icons/favicon_static.ico') }}/>
    <title>{{ title }}</title>
    <style type="text/css">

        body, table {
            font-family: helvetica;
            font-size: 12px;
        }

    </style>
</head>
<body bgcolor="#ffeeee">

<table width=100%>
    <tr>
        <td align=right><a href="/"><img src="{{ asset('gui/images/xdmod_mini.png') }}" border=0 alt="Go To XDMoD"></a>
    </tr>
</table>

<center>

    <br><br>

    <font color="#ff0000">The page you are trying to access has already expired.<br><br>
        If you still need to reset your password, visit the <a href="{{ site_address }}">login page</a> and
        click on <b>Problem Logging In?</b> below the login prompt.
    </font>

</center>

</body>
</html>