<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="true"
         bootstrap="bootstrap.php"
         colors="true"
         testSuiteLoaderFile="phpunit/src/Runner/StandardTestSuiteLoader.php"
         verbose="true">
    <coverage/>
</phpunit>
